:root {
  --off-white: rgb(230, 230, 230);
  --off-black: rgb(30, 30, 30);
  --square-size: 70px;
}

.white-square {
  background-color: var(--off-white);
  width: var(--square-size);
  height: var(--square-size);
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.black-square {
  background-color: var(--off-black);
  width: var(--square-size);
  height: var(--square-size);
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.chess-square {
  text-align: center;
}

.chess-piece {
  padding: 5px;
  height: 60px;
  width: auto;
}
