:root {
  --off-white: rgb(230, 230, 230);
  --off-black: rgb(30, 30, 30);
  --selected-color: rgb(39, 113, 186);
  --valid-color: rgb(53, 126, 26);
  --square-size: 70px;
}

.white-square {
  background-color: var(--off-white);
  width: var(--square-size);
  height: var(--square-size);
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.black-square {
  background-color: var(--off-black);
  width: var(--square-size);
  height: var(--square-size);
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.selected-square {
  background-color: var(--selected-color);
}

.valid-move-square {
  background-color: var(--valid-color);
}

.selected-square > img {
  -webkit-filter: drop-shadow(1px 1px 0 white)
                drop-shadow(-1px 1px 0 white)
                drop-shadow(1px -1px 0 white)
                drop-shadow(-1px -1px 0 white);
filter: drop-shadow(1px 1px 0 white)
        drop-shadow(-1px 1px 0 white)
        drop-shadow(1px -1px 0 white)
        drop-shadow(-1px -1px 0 white);
}

.chess-square {
  text-align: center;
}

.chess-piece {
  padding: 5px;
  height: 60px;
  width: auto;
}

.chess-board-label {
  font-family: Arial;
  padding: 10px;
}
